*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*background blur*/
body{
    background: url(bg.jpg) no-repeat center/cover;
    backdrop-filter: brightness(40%);
    width: 100vw;
    overflow-x: hidden;
}
/*nav*/
nav{
    width: 100vw;
    height: 100px;

}
/* logo pc */
#logo_pc{
    position: absolute;
    display:block;
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-left: 31.5px;

}
/* logo mobile */
#logo_m{
    display: none;
}
/* main */
main{
    margin: 5px auto 30px;
    display: flex;
    align-items: flex-start;
    align-self: center;
    flex-direction: column;
    width: 450px;
    min-height: 660px;
    background-color: rgba(0, 0, 0, 0.75);    
    border-radius: 5px;
    padding: 60px;
}
main h2{
    color: white;
    font-size: 30px;
    overflow: hidden;
    margin-left: 17px;
}
#main_form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.main_input{
    width: 310px;
    height: 50px;
    display: Block;
    margin: 20px 20px 20px 20px;
    background-color: #333;
    border: none;
    font-size: 20px;
    padding: 20px;
    color: white;
    border-radius: 5px;
}
.main_input:active{
    background-color: #3b3b3b;
}
#submit_btn{
    background-color: #e50914;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}
#sec_form{
    margin-left: 20px;
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #696969;
    display: flex;
    width: 320px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#sec_form a:visited{
    font-weight: 500;
    color: #696969;
}
.main_para{
    display: Block;
    margin: 20px 20px 0px 20px;
    font-size: 20px;
    color: #696969;
    width: 100%;
}
#p1 a{
    color: white;
}
#p2{
    font-size: 15px;
}
#p2 a{
    color: blue;
}
/* Footer */
footer{
    height: fit-content;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.75); 
    color: #696969;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
#footer_section{
    width: 70%;
    margin: 20px;
}
#footer_head{
    margin: 5px 0px 10px 0px;
    font-size: 20px;
}
#footer_list ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
li{
    width: 200px;
    margin: 10px 20px;
}
li a{
    text-decoration: none;
    color: #696969;
    font-size: 15px;
}
li a:visited{
    color: #696969;
}
li a:hover{
    text-decoration: underline;
}
#btn{
    height: 50px;
    width: 100px;
    margin: 20px 0px;
    background: none;
    border: 1.5px solid #696969;
    color: #696969;
}
@media (max-width:720px) {
    body{
        background: black;
        backdrop-filter: brightness(100%);
    }
    main{
        width: 100vw;
        padding: 20px;
        align-items: center;
    }
    main h2{
        font-size: 40px;
    }
    .form{
        width: 80%;
    }
    .main_input{
        width: 80%;
    }
    #p1, #p2{
        margin-left: 60px;
    }
}